[Unit]
Description=Dell Poweredge Fan Control Daemon

[Service]
ExecStart=/usr/local/bin/poweredge-fand.pl
Restart=on-failure
Type=simple

[Install]
Alias=poweredge-fand.service
WantedBy=multi-user.target
